.container {
    width: 100vw;
    height: 100vh;
    background-color: #E4E4E4;
    overflow: hidden;

    .inner_container {
        margin: auto;
        width: 50%;
        height: 82vh;
        background-color: #fff;
        margin-top: 2rem;
        border-radius: 5px;

        .chat_container {
            height: 65vh;
            overflow-y: scroll;
        }
    }
}
